<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configurar Dispositivo</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/add_device.css') }}">
</head>
<body>
  <div id="app">
    <div class="setup-container">
      <div v-if="step === 0">
        <h2>Paso 0: Conéctate a la red del dispositivo</h2>
        <p>
          Para configurar el dispositivo, primero conéctate a su red WiFi. Por ejemplo, la red se llamará:
          <strong>streelet_XXXX</strong>
        </p>
        <button @click="nextStep">Ya me he conectado</button>
      </div>

      <div v-if="step === 1">
        <h2>Paso 1: Ingresa la configuración</h2>
        <input type="text" v-model="group" placeholder="Grupo" />
        <input type="text" v-model="name" placeholder="Nombre del Dispositivo" />
        <button @click="sendConfiguration" :disabled="!group || !name">Continuar</button>
      </div>

      <div v-if="step === 2">
        <h2>Terminando la configuracion</h2>
        <p v-if="message">{{ message }}</p>
        <div v-if="loading" class="loader"></div>
      </div>

      <p v-if="loading && step !== 2">Procesando...</p>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/add_device.js') }}"></script>
</body>
</html>
